@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }
}

.loader_block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  border: 4px solid var(--orange);
  border-left-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
